.browse {
    text-align: center;
    margin: 110px 0;
}

.browse h1 {
    margin: 0 10px 0 0;
}

/* .browse h1,
.menu {
    display: inline;
} */

.letters {
    margin: 80px 0;
}

.letters button {
    padding: 10px;
    margin: 10px;
}

/* #undefined--undefined-39612 button {
    position: relative;
}

#undefined--undefined-39612 {
    color: red;
} */
