body {
    background-color: #f0f0f0;
}

@media only screen and (min-width: 700px)  {

    .TermPage-flex-container {
        display: flex;
        flex-direction: row;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .TermPage-LeftSection {
        max-width: 400px;
        flex-direction: row;
        width: 60%;
    }
    .TermPage-RightSection {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        width: 20%;
    }
  
}