.container {
  background: rgb(240, 240, 240);
}

.searchContainer {
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
}

.entire-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 94%;
  margin: auto;
}

.row-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.float-left {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.float-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .float-left {
    display: flex;
    flex-direction: row;
    width: 70%;
  }
  .float-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
  }
}
