.container {
    background: rgb(240, 240, 240);
}

.searchContainer {
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
    transition: all 0.3s ease-out;
}

.searchContainer:hover,
.searchContainer:focus-within {
    width: 72%;
}  

.entire-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:94%;
    margin: auto;
}

.row-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 1% 0;
}

.float-left {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.float-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4% 4% 1% 4%;
}


@media only screen and (min-width: 700px)  {
    .row-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .float-left {
        display: flex;
        flex-direction: row;
        width: 70%;
    }
    .float-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0;
        width: 30%;
    }
}

@media only screen and (min-width: 1020px)  {
    .float-right {
        margin: 0 3% 0 .5%;
        width: 30%;
    }
}
