.quiz {
    background: #fff;
    min-height: 15em;
    text-align: center;
    margin: 15px;
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,.15);
    transition: all .3s ease-in-out;
    font-size: 1.5em;
}

.quiz:hover {
    box-shadow: -2px 8px 22px 0 rgba(0,0,0,.15);
}

.quiz .title {
    margin: 0 0 20px 0;
    padding: 20px;
    color: #57bc90;
    text-shadow: -1px 0px #a09f9f;
}

.question {
    padding: 15px;
}

ul {
    text-align: left;
    font-size: 20px;
    list-style: none;
    padding: 15px;
}

li {
    background: #57bc90;
    margin: 5px;
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,.15);
    padding: 10px;
    color: white;
}

li:hover {
    background: #2e835e;
}

@media only screen and (min-width: 1020px)  {

    .quiz {
      width: 40%;
    }
  
}