.termTags {
    padding: 10px 10px;
    margin: 15px;
    width: 100%;
}
.termTags h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-bottom: 12px;
}

.termTags button {
    font-size: 1rem;
    background-color: #57BC90;
    padding: 8px;
}

.termTags:hover {
    transition: all .3s ease-out;
    transform: scale(1.02);
}

@media only screen and (min-width: 700px)  {

    .termTags {
    }
  
}