.termTags {
  text-align: center;
  width: 100%;
}

.termTags h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 5px;
  font-family: "Rubik", sans-serif;
}

.flex-tags {
  display: flex;
  flex-direction: column;
}

.termTags span {
  display: block;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 62, 55, 0.68);
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 8px;
  margin: 5px;
  color: white;
}

@media only screen and (min-width: 700px) {
  .termTags {
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 1020px) {
  .termTags {
    text-align: left;
    margin: 0 2% 2% 0;
    background: #e8e8e8;
    padding: 10px;
  }
  .termTags span {
    width: 50%;
  }
  .termTags h4 {
    font-size: 1.5rem;
  }
  .flex-tags {
    display: flex;
    flex-direction: row;
  }
}
