.termComments {
    background: #fff;
    text-align: center;
    margin: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    width: 100%;
}

.termComments h3 {
    background: linear-gradient(57deg, #77c9d4, #57bc90);
    color: #015249;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.8;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 30px;
}

.commentContainer {
    display: block;
    text-align: left;
    min-height: 35px;
    padding: 15px;
}

.addComment {
    text-align: left;
}

.commenting{
    text-align: right;
}

.commentAuthor {
    display: inline-block;
    vertical-align: top;
    background-color: #015249;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    padding: 20px 10px;
    margin-right: 20px;
    color: white;
}

.commentBody {
    display:inline-block;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    padding: 20px 10px 20px 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    width: 60%;
    height: auto;
}

.commentBar {
    font-size: 0.7rem;
    text-align: right;
    padding-bottom: 10px;
}

.termComments:hover {
    transition: all .3s ease-out;
    box-shadow: -2px 8px 22px 0 rgba(0,0,0,.15);
}

@media only screen and (min-width: 700px)  {

    .commentAuthor {
        padding: 20px 15px;
    }

    .commentBody {
        width: 80%;
        padding: 10px 15px 20px 15px;
    }
  
}