.termComments {
    background: #fff;
    margin: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    width: 100%;
}

.termComments h3 {
    background-color: #015249;
    color: white;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;

}


.termComments button {
    text-align: center;
}

.termComments .commentContainer {
    margin: 15px;
    text-align: left;

}
.termComments:hover {
    transition: all .3s ease-out;
    transform: scale(1.02);
}

@media only screen and (min-width: 700px)  {

    .termComments {
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }
  
}