.termMain {
    background: #015249;
    color: white;
    padding: 30px 30px;
    text-align: center;
    margin: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    width: 100%;
    font-size: 2.8rem;
}

.termMain h2 {
    font-size: 3.2rem;
    padding-bottom: 12px;
}

.termMain p {
    font-size: 1.8rem;
}

.termMain:hover {
    transition: all .3s ease-out;
    transform: scale(1.02);
}

@media only screen and (min-width: 700px)  {

    .termMain {
        text-align: left;
    }

    .termMain h2 {
        font-size: 3.6rem;
    }
    .termMain p {
        font-size: 1.8rem;
    }
}