.inputbox {
    margin: 40px 0;
    height: 50px;
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputbox input {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    font-size: 16px;
    padding: 16.5px 0;
    border: 0;
    background: none;
    width: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition-delay: 0s, 0.4s, 0s;
    box-shadow: 0 0 0 1px currentColor;
    color: inherit;
    cursor: pointer;
    padding-right: 50px;
    font-weight: lighter;
    font-family: "Roboto";
}

.inputbox input:focus, .inputbox input:valid {
    width: 100%;
    transition-delay: 0.4s, 0s, 0.4s;
    outline: 0;
    border-radius: 0;
    cursor: text;
    padding-left: 16.5px;
    box-shadow: 0px 3px 9px #737373;
}

.inputbox input:focus + .del, .inputbox input:valid + .del {
    pointer-events: all;
    left: calc(100% - 25px);
    transition-delay: 0.4s;
}
.inputbox input:focus + .del:focus, .inputbox input:valid + .del:focus {
    box-shadow: 0 0 0 1px currentColor;
    height: 37.5px;
    width: 37.5px;
}

.inputbox input:focus + .del:before, .inputbox input:valid + .del:before {
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
    transition-delay: 0s;
}

.inputbox input:focus + .del:after, .inputbox input:valid + .del:after {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
    transition-delay: 0.2s;
}

.inputbox .del {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    padding: 0;
    background: none;
    border-radius: 100%;
    border: 0;
    pointer-events: none;
    transition: left 0.4s ease-in-out;
    transition-delay: 0s;
    color: inherit;
    cursor: pointer;
}

.inputbox .del:focus {
    outline: none;
}

.inputbox .del:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    width: 1px;
    height: 37.5px;
    transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.6s;
}

.inputbox .del:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    width: 1px;
    height: 37.5px;
    transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.4s;
}

@media only screen and (min-width: 1020px)  {

    .inputbox input:focus, .inputbox input:valid {
        width: 40em;
    }

    .inputbox input:focus + .del, .inputbox input:valid + .del {
        pointer-events: all;
        left: calc(100% + 150px);
        transition-delay: 0.1s;
    }
  
}

@media only screen and (min-width: 1300px)  {

    .inputbox input:focus, .inputbox input:valid {
        width: 60em;
    }

    .inputbox input:focus + .del, .inputbox input:valid + .del {
        pointer-events: all;
        left: calc(100% + 250px);
        transition-delay: 0.1s;
    }
  
}