.termRelevant {
    padding: 10px 10px;
    margin: 15px;
    text-align: center;
    width: 100%;
}
.termRelevant h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-bottom: 5px;
}

.termRelevant button {
    font-size: 1rem;
    background-color: #015249;
    border: 1px solid #015249;
    padding: 8px;
    margin: 3px;
    width: 100%;
}    

.relevantLink {
    text-decoration: none;
    color: white;
}

/* Teal #77C9D4 */
/* Green #57BC90 */

@media only screen and (min-width: 950px)  {

    .termRelevant {
        text-align: left;
    }

    .termRelevant button {
        margin-left: 7px;
        width: auto;
    }
    
    .termRelevant button:nth-of-type(1) {
        margin-left: 0px;
    }
  
}