.wordoftheday {
    background: #015249;
    min-height: 15em;
    text-align: center;
    margin: 15px;
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,.15);
    transition: all .3s ease-in-out;
    font-size: 1.5em;
}

.wordoftheday:hover {
    box-shadow: -2px 8px 22px 0 rgba(0,0,0,.15);
}

.wordoftheday .title {
    margin: 0 0 30px 0;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px #505050;
}

.word {
    margin: 50px 65px 0 65px;
    padding: 10px 0;
    background: white;
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 1px 4px 0 rgba(0,0,0,.15);
    font-family: 'Roboto Mono', monospace;
}

.definition {
    font-style: italic;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (min-width: 1020px)  {

    .wordoftheday {
      width: 40%;
    }
  
}